body{
    font-family: arial;
    margin: 0;
    padding: 0;
}
 header{
    background-color: yellowgreen;
    color: white;
    text-align: center;
    padding: 10px;
 }

 .container{
    display: flex;
    justify-content: space-around;

 }