*{
    background-color: blanchedalmond;
    font-family: papyrus, "meow script", system-ui;
    font-weight: 400;
    font-size: normal;
}
p{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
}
#content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#one{
    display: flex;
    flex-direction: column;
}
img{
    height: 150px;
}
#img{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
}
/*generic font families
1. serif
2. sans-serif
3. monospace
4. cursive
5. fantasy */
#no{
    display: block;
    margin: auto;
    width: 50%;
}